In [4]:
import pandas as pd
url = "https://raw.githubusercontent.com/magdagucman/programming-for-data/main/Data%20Sets/countries.csv"
footprint_df = pd.read_csv(url)

# Show summary information
display(footprint_df.info())

# Describe the data set
display(footprint_df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188 entries, 0 to 187
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Country                         188 non-null    object
 1   Region                          188 non-null    object
 2   Population (millions)           188 non-null    float64
 3   HDI                             172 non-null    float64
 4   GDP per Capita                  173 non-null    object
 5   Cropland Footprint              173 non-null    float64
 6   Grazing Footprint               173 non-null    float64
 7   Forest Footprint                173 non-null    float64
 8   Carbon Footprint                173 non-null    float64
 9   Fish Footprint                  173 non-null    float64
 10  Total Ecological Footprint      188 non-null    float64
 11  Cropland                        173 non-null    float64
 12  Grazing Land                    173 non-null    float64
 13  Forest Land                     173 non-null    float64
 14  Fishing Water                   173 non-null    float64
 15  Urban Land                      173 non-null    float64
 16  Total Biocapacity               188 non-null    float64
 17  Biocapacity Deficit or Reserve  188 non-null    float64
 18  Earths Required                 188 non-null    float64
 19  Countries Required              188 non-null    float64
 20  Data Quality                    188 non-null    object
dtypes: float64(17), object(4)
memory usage: 31.0+ KB

None

,Population (millions),HDI,Cropland Footprint,Grazing Footprint,Forest Footprint,Carbon Footprint,Fish Footprint,Total Ecological Footprint,Cropland,Grazing Land,Forest Land,Fishing Water,Urban Land,Total Biocapacity,Biocapacity Deficit or Reserve,Earths Required,Countries Required
count,188.000000,172.00000,173.000000,173.000000,173.000000,173.000000,173.000000,188.000000,173.000000,173.000000,173.000000,173.000000,173.000000,188.000000,188.000000,188.000000,188.000000
mean,37.342372,0.68636,0.578208,0.263179,0.373815,1.804913,0.122486,3.317606,0.531850,0.456590,2.459191,0.595145,0.067110,4.019681,0.702074,1.915745,4.037397
std,140.756836,0.15604,0.355691,0.352067,0.359349,1.898283,0.158427,2.370931,0.672567,1.014738,10.593956,1.661872,0.054844,11.689075,11.771339,1.369624,12.444616
min,0.000000,0.34000,0.070000,0.000000,0.010000,0.000000,0.000000,0.420000,0.000000,0.000000,0.000000,0.000000,0.000000,0.050000,-14.140000,0.240000,0.020000
25%,2.037500,0.55750,0.350000,0.080000,0.170000,0.420000,0.020000,1.482500,0.180000,0.030000,0.060000,0.030000,0.030000,0.675000,-1.935000,0.855000,0.942500
50%,7.970000,0.72000,0.520000,0.180000,0.260000,1.140000,0.070000,2.740000,0.350000,0.120000,0.340000,0.110000,0.050000,1.310000,-0.730000,1.580000,1.705000
75%,24.870000,0.80250,0.700000,0.320000,0.460000,2.600000,0.150000,4.640000,0.590000,0.340000,1.170000,0.370000,0.090000,2.815000,0.212500,2.677500,2.847500
max,1408.040000,0.94000,2.680000,3.470000,3.030000,12.650000,0.820000,15.820000,5.420000,8.230000,95.160000,16.070000,0.270000,111.350000,109.010000,9.140000,159.470000

In [68]:
print("Mean Total Ecological Footprint is:")

display(footprint_df["Total Ecological Footprint"].mean())

print("Max Total Ecological Footprint is:")

display(footprint_df["Total Ecological Footprint"].max())

print("Min Total Ecological Footprint is:")

display(footprint_df["Total Ecological Footprint"].min())

Mean Total Ecological Footprint is:

3.317606382978723

Max Total Ecological Footprint is:

15.82

Min Total Ecological Footprint is:

0.42

In [20]:
# Display mean footprint for each geographic region
display(footprint_df.groupby("Region")["Total Ecological Footprint"].mean())

Region
Africa                      1.670962
Asia-Pacific                2.970303
European Union              5.475385
Latin America               3.483846
Middle East/Central Asia    4.054348
North America               7.386667
Northern/Eastern Europe     3.763333
Name: Total Ecological Footprint, dtype: float64

In [67]:
# Display footprint by country including GDP per Capita
footprint_GDP = footprint_df.groupby(["Total Ecological Footprint", "Country"])["GDP per Capita"].max()

footprint_GDP.sort_values()

display(footprint_GDP)

Total Ecological Footprint  Country
0.42                        Eritrea                         $439.73
0.48                        Timor-Leste                   $5,167.86
0.61                        Haiti                           $749.13
0.72                        Bangladesh                      $857.50
0.79                        Afghanistan                     $614.66
                                                           ...
8.22                        United States of America     $49,725.00
9.31                        Australia                    $66,604.20
10.80                       Qatar                        $99,431.50
11.88                       Aruba                               NaN
15.82                       Luxembourg                  $114,665.00
Name: GDP per Capita, Length: 188, dtype: object

In [90]:
# Calculate percentage of Carbon Footprint by country in total footprint
percentage_carbon = footprint_df.groupby("Country")["Carbon Footprint"].max()/footprint_df.groupby("Country")["Total Ecological Footprint"].max()*100

# Drop rows with no available data
percentage_carbon.dropna(how="any", inplace=True)

# Print
print(percentage_carbon.sort_values())

Country
Solomon Islands         0.000000
Chad                    0.684932
Burundi                 5.000000
Somalia                 5.645161
Sierra Leone            5.645161
                         ...
Martinique             83.173077
Kuwait                 84.747847
Trinidad and Tobago    86.994949
Qatar                  88.611111
Réunion                89.589041
Length: 173, dtype: float64