Threatened Species Dataset

Questions about the dataset:
1) Which countries had the most threatened species? How has this been changing over the years?
2) Which 10 countries have the least thretened species? How has this been changing over the years?
3) Which 10 contries noted the biggest increase in the number of threatened species between 2004 and 2020?
4) Which countries noted the biggest decrease in the number of threatened species between 2004 and 2020?
5) Can we observe a worldwide trend in the number of threatened species over the reported years or are no significant changes observed? If an increase/decrease trend exists, are there any countries noting the opposite trend (which ones)?


Plan how to answer the above:
0) Clean the data; create columns 'Threatened Total', 'Threatened Animals', 'Threatened Plants' and for each year (?)
1) Display 10 countries with the highest total of threatened species by year
2) Display 10 countries with the lowest total of threatened species by year
3) Subtract the total values of threatened species in 2004 from the total values of threatened species in 2020 country by country; save into a new column, sort descending by value, head(10)
4) Take above + tail(10)
5) Trend analysis;

Proposed visualisation:
A set of Choropleth Maps or Proportional Symbols Maps (these could be pie charts showing the proportion of threatened animals vs plants) - 1 map per reported year, to visualise change over time

In [179]:
import pandas as pd
import numpy as np

url = 'https://github.com/magdagucman/programming-for-data/blob/main/Data%20Sets/Threatened%20Species.xlsx?raw=true'

threatened_species_df = pd.read_excel(url)

display(threatened_species_df.shape)

# Display first 30 rows to understand the dataframe's shape
display(threatened_species_df.head(30))


# Rename the Unnamed column to 'Country'
threatened_species_df = threatened_species_df.rename(columns={"Unnamed: 1": "Country"})

# Drop the Footnotes and Source columns - these won't be needed for any calculations
threatened_species_df = threatened_species_df.drop(columns=['Footnotes', 'Source'])

# Check for NA/NaN/missing values across the dataframe
display(threatened_species_df.isnull().values.any())

# Display information about the dataframe
display(threatened_species_df.info())

(6918, 7)

,Region/Country/Area,Unnamed: 1,Year,Series,Value,Footnotes,Source
0,4,Afghanistan,2004,Threatened Species: Vertebrates (number),31,NaN,"World Conservation Union (IUCN), Gland and Cam..."
1,4,Afghanistan,2010,Threatened Species: Vertebrates (number),31,NaN,"World Conservation Union (IUCN), Gland and Cam..."
2,4,Afghanistan,2016,Threatened Species: Vertebrates (number),35,NaN,"World Conservation Union (IUCN), Gland and Cam..."
3,4,Afghanistan,2017,Threatened Species: Vertebrates (number),35,NaN,"World Conservation Union (IUCN), Gland and Cam..."
4,4,Afghanistan,2018,Threatened Species: Vertebrates (number),34,NaN,"World Conservation Union (IUCN), Gland and Cam..."
5,4,Afghanistan,2019,Threatened Species: Vertebrates (number),33,NaN,"World Conservation Union (IUCN), Gland and Cam..."
6,4,Afghanistan,2020,Threatened Species: Vertebrates (number),33,NaN,"World Conservation Union (IUCN), Gland and Cam..."
7,4,Afghanistan,2004,Threatened Species: Invertebrates (number),1,NaN,"World Conservation Union (IUCN), Gland and Cam..."
8,4,Afghanistan,2010,Threatened Species: Invertebrates (number),1,NaN,"World Conservation Union (IUCN), Gland and Cam..."
9,4,Afghanistan,2016,Threatened Species: Invertebrates (number),2,NaN,"World Conservation Union (IUCN), Gland and Cam..."
10,4,Afghanistan,2017,Threatened Species: Invertebrates (number),2,NaN,"World Conservation Union (IUCN), Gland and Cam..."
11,4,Afghanistan,2018,Threatened Species: Invertebrates (number),2,NaN,"World Conservation Union (IUCN), Gland and Cam..."
12,4,Afghanistan,2019,Threatened Species: Invertebrates (number),2,NaN,"World Conservation Union (IUCN), Gland and Cam..."
13,4,Afghanistan,2020,Threatened Species: Invertebrates (number),2,NaN,"World Conservation Union (IUCN), Gland and Cam..."
14,4,Afghanistan,2004,Threatened Species: Plants (number),1,NaN,"World Conservation Union (IUCN), Gland and Cam..."
15,4,Afghanistan,2010,Threatened Species: Plants (number),2,NaN,"World Conservation Union (IUCN), Gland and Cam..."
16,4,Afghanistan,2016,Threatened Species: Plants (number),5,NaN,"World Conservation Union (IUCN), Gland and Cam..."
17,4,Afghanistan,2017,Threatened Species: Plants (number),5,NaN,"World Conservation Union (IUCN), Gland and Cam..."
18,4,Afghanistan,2018,Threatened Species: Plants (number),5,NaN,"World Conservation Union (IUCN), Gland and Cam..."
19,4,Afghanistan,2019,Threatened Species: Plants (number),5,NaN,"World Conservation Union (IUCN), Gland and Cam..."
20,4,Afghanistan,2020,Threatened Species: Plants (number),5,NaN,"World Conservation Union (IUCN), Gland and Cam..."
21,4,Afghanistan,2004,Threatened Species: Total (number),33,NaN,"World Conservation Union (IUCN), Gland and Cam..."
22,4,Afghanistan,2010,Threatened Species: Total (number),34,NaN,"World Conservation Union (IUCN), Gland and Cam..."
23,4,Afghanistan,2016,Threatened Species: Total (number),42,NaN,"World Conservation Union (IUCN), Gland and Cam..."
24,4,Afghanistan,2017,Threatened Species: Total (number),42,NaN,"World Conservation Union (IUCN), Gland and Cam..."
25,4,Afghanistan,2018,Threatened Species: Total (number),41,NaN,"World Conservation Union (IUCN), Gland and Cam..."
26,4,Afghanistan,2019,Threatened Species: Total (number),40,NaN,"World Conservation Union (IUCN), Gland and Cam..."
27,4,Afghanistan,2020,Threatened Species: Total (number),40,NaN,"World Conservation Union (IUCN), Gland and Cam..."
28,248,Åland Islands,2020,Threatened Species: Vertebrates (number),0,NaN,"World Conservation Union (IUCN), Gland and Cam..."
29,248,Åland Islands,2020,Threatened Species: Invertebrates (number),0,NaN,"World Conservation Union (IUCN), Gland and Cam..."

False

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6918 entries, 0 to 6917
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Region/Country/Area  6918 non-null   int64
 1   Country              6918 non-null   object
 2   Year                 6918 non-null   int64
 3   Series               6918 non-null   object
 4   Value                6918 non-null   int64
dtypes: int64(3), object(2)
memory usage: 270.4+ KB

None

In [180]:
# Display threatened species grouped by series (plants, invertebrates, vertebrates, total) and year, to compare the statistics
# on threatened species between the years
display(threatened_species_df.groupby(["Series", "Year"])['Value'].describe())

                                                 count        mean  \
Series                                     Year
Threatened Species: Invertebrates (number) 2004  238.0   10.861345
                                           2010  246.0   32.646341
                                           2016  249.0   42.032129
                                           2017  249.0   43.204819
                                           2018  248.0   45.145161
                                           2019  250.0   46.016000
                                           2020  249.0   46.907631
Threatened Species: Plants (number)        2004  238.0   45.079832
                                           2010  246.0   46.390244
                                           2016  249.0   61.004016
                                           2017  249.0   61.590361
                                           2018  249.0   67.441767
                                           2019  249.0   78.433735
                                           2020  249.0   89.975904
Threatened Species: Total (number)         2004  238.0  107.794118
                                           2010  246.0  144.918699
                                           2016  249.0  184.714859
                                           2017  249.0  188.148594
                                           2018  249.0  198.184739
                                           2019  250.0  213.020000
                                           2020  249.0  230.116466
Threatened Species: Vertebrates (number)   2004  238.0   51.852941
                                           2010  246.0   65.882114
                                           2016  249.0   81.678715
                                           2017  249.0   83.353414
                                           2018  249.0   85.550201
                                           2019  250.0   88.884000
                                           2020  249.0   93.232932

                                                        std  min    25%  \
Series                                     Year
Threatened Species: Invertebrates (number) 2004   42.592784  0.0   0.00
                                           2010   60.379285  0.0   2.00
                                           2016   70.892574  0.0   5.00
                                           2017   72.646974  0.0   5.00
                                           2018   75.597452  0.0   5.00
                                           2019   76.788865  0.0   5.25
                                           2020   79.187631  0.0   6.00
Threatened Species: Plants (number)        2004  143.410206  0.0   0.25
                                           2010  143.943647  0.0   1.00
                                           2016  161.083766  0.0   2.00
                                           2017  161.348628  0.0   2.00
                                           2018  168.141255  0.0   3.00
                                           2019  193.839091  0.0   4.00
                                           2020  226.984882  0.0   5.00
Threatened Species: Total (number)         2004  210.365714  1.0  22.25
                                           2010  240.850317  0.0  35.25
                                           2016  283.758720  1.0  50.00
                                           2017  287.329539  1.0  52.00
                                           2018  297.716751  1.0  53.00
                                           2019  327.815766  1.0  57.25
                                           2020  366.665850  1.0  61.00
Threatened Species: Vertebrates (number)   2004   70.093544  1.0  18.00
                                           2010   86.505293  0.0  20.00
                                           2016  101.883993  0.0  27.00
                                           2017  103.428932  0.0  27.00
                                           2018  105.442111  0.0  28.00
                                           2019  110.580281  0.0  30.00
                                           2020  114.690335  0.0  32.00

                                                   50%     75%     max
Series                                     Year
Threatened Species: Invertebrates (number) 2004    2.0    8.00   561.0
                                           2010   11.0   44.75   531.0
                                           2016   14.0   57.00   578.0
                                           2017   14.0   57.00   580.0
                                           2018   14.5   60.25   580.0
                                           2019   14.5   61.00   581.0
                                           2020   15.0   61.00   586.0
Threatened Species: Plants (number)        2004    3.0   26.75  1815.0
                                           2010    4.0   28.50  1837.0
                                           2016   11.0   45.00  1866.0
                                           2017   11.0   46.00  1862.0
                                           2018   13.0   54.00  1864.0
                                           2019   19.0   68.00  1882.0
                                           2020   22.0   76.00  2159.0
Threatened Species: Total (number)         2004   40.5   92.75  2151.0
                                           2010   67.0  143.00  2255.0
                                           2016   90.0  178.00  2353.0
                                           2017   91.0  184.00  2358.0
                                           2018   99.0  191.00  2368.0
                                           2019  104.0  219.75  2393.0
                                           2020  108.0  236.00  2910.0
Threatened Species: Vertebrates (number)   2004   28.5   49.00   446.0
                                           2010   37.0   76.00   609.0
                                           2016   47.0   93.00   648.0
                                           2017   47.0   94.00   655.0
                                           2018   48.0   95.00   657.0
                                           2019   50.0   97.50   736.0
                                           2020   54.0  101.00   751.0

In [181]:
# Display how many unique countries are on the list
display(len(threatened_species_df['Country'].unique()))

# Display these countries
for country in threatened_species_df['Country'].unique():
    display(country)

253

'Afghanistan'

'Åland Islands'

'Albania'

'Algeria'

'American Samoa'

'Andorra'

'Angola'

'Anguilla'

'Antarctica'

'Antigua and Barbuda'

'Areas n.e.s'

'Argentina'

'Armenia'

'Aruba'

'Australia'

'Austria'

'Azerbaijan'

'Bahamas'

'Bahrain'

'Bangladesh'

'Barbados'

'Belarus'

'Belgium'

'Belize'

'Benin'

'Bermuda'

'Bhutan'

'Bolivia (Plurin. State of)'

'Bonaire, St. Eustatius & Saba'

'Bosnia and Herzegovina'

'Botswana'

'Bouvet Island'

'Brazil'

'British Indian Ocean Terr.'

'British Virgin Islands'

'Brunei Darussalam'

'Bulgaria'

'Burkina Faso'

'Burundi'

'Cabo Verde'

'Cambodia'

'Cameroon'

'Canada'

'Cayman Islands'

'Central African Republic'

'Chad'

'Chile'

'China'

'China, Hong Kong SAR'

'China, Macao SAR'

'Christmas Island'

'Cocos (Keeling) Islands'

'Colombia'

'Comoros'

'Congo'

'Cook Islands'

'Costa Rica'

'Côte d’Ivoire'

'Croatia'

'Cuba'

'Curaçao'

'Cyprus'

'Czechia'

"Dem. People's Rep. Korea"

'Dem. Rep. of the Congo'

'Denmark'

'Djibouti'

'Dominica'

'Dominican Republic'

'Ecuador'

'Egypt'

'El Salvador'

'Equatorial Guinea'

'Eritrea'

'Estonia'

'Eswatini'

'Ethiopia'

'Falkland Islands (Malvinas)'

'Faroe Islands'

'Fiji'

'Finland'

'France'

'French Guiana'

'French Polynesia'

'French Southern Territories'

'Gabon'

'Gambia'

'Georgia'

'Germany'

'Ghana'

'Gibraltar'

'Greece'

'Greenland'

'Grenada'

'Guadeloupe'

'Guam'

'Guatemala'

'Guernsey'

'Guinea'

'Guinea-Bissau'

'Guyana'

'Haiti'

'Heard Is. and McDonald Is.'

'Holy See'

'Honduras'

'Hungary'

'Iceland'

'India'

'Indonesia'

'Iran (Islamic Republic of)'

'Iraq'

'Ireland'

'Isle of Man'

'Israel'

'Italy'

'Jamaica'

'Japan'

'Jersey'

'Jordan'

'Kazakhstan'

'Kenya'

'Kiribati'

'Kuwait'

'Kyrgyzstan'

"Lao People's Dem. Rep."

'Latvia'

'Lebanon'

'Lesotho'

'Liberia'

'Libya'

'Liechtenstein'

'Lithuania'

'Luxembourg'

'Madagascar'

'Malawi'

'Malaysia'

'Maldives'

'Mali'

'Malta'

'Marshall Islands'

'Martinique'

'Mauritania'

'Mauritius'

'Mayotte'

'Mexico'

'Micronesia (Fed. States of)'

'Monaco'

'Mongolia'

'Montenegro'

'Montserrat'

'Morocco'

'Mozambique'

'Myanmar'

'Namibia'

'Nauru'

'Nepal'

'Netherlands'

'Netherlands Antilles [former]'

'New Caledonia'

'New Zealand'

'Nicaragua'

'Niger'

'Nigeria'

'Niue'

'Norfolk Island'

'North Macedonia'

'Northern Mariana Islands'

'Norway'

'Oman'

'Other non-specified areas'

'Pakistan'

'Palau'

'Panama'

'Papua New Guinea'

'Paraguay'

'Peru'

'Philippines'

'Pitcairn'

'Poland'

'Portugal'

'Puerto Rico'

'Qatar'

'Republic of Korea'

'Republic of Moldova'

'Réunion'

'Romania'

'Russian Federation'

'Rwanda'

'Saint Barthélemy'

'Saint Helena'

'Tristan da Cunha'

'Saint Kitts and Nevis'

'Saint Lucia'

'Saint Martin (French part)'

'Saint Pierre and Miquelon'

'Saint Vincent & Grenadines'

'Samoa'

'San Marino'

'Sao Tome and Principe'

'Saudi Arabia'

'Senegal'

'Serbia'

'Serbia and Monten. [former]'

'Seychelles'

'Sierra Leone'

'Singapore'

'Sint Maarten (Dutch part)'

'Slovakia'

'Slovenia'

'Solomon Islands'

'Somalia'

'South Africa'

'South Georgia & Sandwich Is.'

'South Sudan'

'Spain'

'Sri Lanka'

'State of Palestine'

'Sudan'

'Suriname'

'Svalbard and Jan Mayen Is.'

'Sweden'

'Switzerland'

'Syrian Arab Republic'

'Tajikistan'

'Thailand'

'Timor-Leste'

'Togo'

'Tokelau'

'Tonga'

'Trinidad and Tobago'

'Tunisia'

'Turkey'

'Turkmenistan'

'Turks and Caicos Islands'

'Tuvalu'

'Uganda'

'Ukraine'

'United Arab Emirates'

'United Kingdom'

'United Rep. of Tanzania'

'U.S. Minor Outlying islands'

'United States of America'

'United States Virgin Islands'

'Uruguay'

'Uzbekistan'

'Vanuatu'

'Venezuela (Boliv. Rep. of)'

'Viet Nam'

'Wallis and Futuna Islands'

'Western Sahara'

'Yemen'

'Zambia'

'Zimbabwe'

In [182]:
# Sort table by number of threatened species
threatened_species_df = threatened_species_df.sort_values(by = ['Value'], ascending = False)

# Choose only the rows showing 2020 and total threatened species, then display head and tail
species_2020 = threatened_species_df[threatened_species_df["Year"] == 2020][threatened_species_df["Series"] == "Threatened Species: Total (number)"]
display(species_2020.head(10))
display(species_2020.tail(10))

# Choose only the rows showing 2004 and total threatened species, then display head and tail
species_2004 = threatened_species_df[threatened_species_df["Year"] == 2004][threatened_species_df["Series"] == "Threatened Species: Total (number)"]
display(species_2004.head(10))
display(species_2004.tail(10))

# Create a pivot table to display the available data in a readable way
threatened_species_table = pd.pivot_table(threatened_species_df, values='Value', index=['Series', 'Year'],
                    columns=['Country'], aggfunc=max)

display(threatened_species_table)

<ipython-input-182-d99746673ec6>:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  species_2020 = threatened_species_df[threatened_species_df["Year"] == 2020][threatened_species_df["Series"] == "Threatened Species: Total (number)"]

,Region/Country/Area,Country,Year,Series,Value
3690,450,Madagascar,2020,Threatened Species: Total (number),2910
1914,218,Ecuador,2020,Threatened Species: Total (number),2501
3746,458,Malaysia,2020,Threatened Species: Total (number),1662
3998,484,Mexico,2020,Threatened Species: Total (number),1656
6609,840,United States of America,2020,Threatened Species: Total (number),1655
2998,360,Indonesia,2020,Threatened Species: Total (number),1654
390,36,Australia,2020,Threatened Species: Total (number),1308
6553,834,United Rep. of Tanzania,2020,Threatened Species: Total (number),1259
1306,156,China,2020,Threatened Species: Total (number),1172
2970,356,India,2020,Threatened Species: Total (number),1118

,Region/Country/Area,Country,Year,Series,Value
2694,831,Guernsey,2020,Threatened Species: Total (number),12
2834,334,Heard Is. and McDonald Is.,2020,Threatened Species: Total (number),12
5993,744,Svalbard and Jan Mayen Is.,2020,Threatened Species: Total (number),11
5805,239,South Georgia & Sandwich Is.,2020,Threatened Species: Total (number),9
227,10,Antarctica,2020,Threatened Species: Total (number),6
3106,833,Isle of Man,2020,Threatened Species: Total (number),6
5421,674,San Marino,2020,Threatened Species: Total (number),2
858,74,Bouvet Island,2020,Threatened Species: Total (number),2
31,248,Åland Islands,2020,Threatened Species: Total (number),1
2858,336,Holy See,2020,Threatened Species: Total (number),1

<ipython-input-182-d99746673ec6>:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  species_2004 = threatened_species_df[threatened_species_df["Year"] == 2004][threatened_species_df["Series"] == "Threatened Species: Total (number)"]

,Region/Country/Area,Country,Year,Series,Value
1908,218,Ecuador,2004,Threatened Species: Total (number),2151
6603,840,United States of America,2004,Threatened Species: Total (number),1143
3740,458,Malaysia,2004,Threatened Species: Total (number),892
2992,360,Indonesia,2004,Threatened Species: Total (number),833
1300,156,China,2004,Threatened Species: Total (number),773
3992,484,Mexico,2004,Threatened Species: Total (number),748
880,76,Brazil,2004,Threatened Species: Total (number),697
384,36,Australia,2004,Threatened Species: Total (number),621
1440,170,Colombia,2004,Threatened Species: Total (number),593
2964,356,India,2004,Threatened Species: Total (number),552

,Region/Country/Area,Country,Year,Series,Value
908,86,British Indian Ocean Terr.,2004,Threatened Species: Total (number),7
6211,772,Tokelau,2004,Threatened Species: Total (number),6
1412,166,Cocos (Keeling) Islands,2004,Threatened Species: Total (number),5
137,20,Andorra,2004,Threatened Species: Total (number),5
1356,446,"China, Macao SAR",2004,Threatened Species: Total (number),5
4268,520,Nauru,2004,Threatened Species: Total (number),5
5903,275,State of Palestine,2004,Threatened Species: Total (number),4
5335,666,Saint Pierre and Miquelon,2004,Threatened Species: Total (number),2
273,896,Areas n.e.s,2004,Threatened Species: Total (number),1
852,74,Bouvet Island,2004,Threatened Species: Total (number),1

Country                                          Afghanistan  Albania  \
Series                                     Year
Threatened Species: Invertebrates (number) 2004          1.0      4.0
                                           2010          1.0     47.0
                                           2016          2.0     62.0
                                           2017          2.0     68.0
                                           2018          2.0     71.0
                                           2019          2.0     71.0
                                           2020          2.0     73.0
Threatened Species: Plants (number)        2004          1.0      0.0
                                           2010          2.0      0.0
                                           2016          5.0      0.0
                                           2017          5.0      0.0
                                           2018          5.0      4.0
                                           2019          5.0      5.0
                                           2020          5.0      5.0
Threatened Species: Total (number)         2004         33.0     37.0
                                           2010         34.0    100.0
                                           2016         42.0    125.0
                                           2017         42.0    130.0
                                           2018         41.0    137.0
                                           2019         40.0    137.0
                                           2020         40.0    142.0
Threatened Species: Vertebrates (number)   2004         31.0     33.0
                                           2010         31.0     53.0
                                           2016         35.0     63.0
                                           2017         35.0     62.0
                                           2018         34.0     62.0
                                           2019         33.0     61.0
                                           2020         33.0     64.0

Country                                          Algeria  American Samoa  \
Series                                     Year
Threatened Species: Invertebrates (number) 2004     12.0             5.0
                                           2010     21.0            57.0
                                           2016     29.0            64.0
                                           2017     38.0            64.0
                                           2018     40.0            64.0
                                           2019     40.0            65.0
                                           2020     42.0            65.0
Threatened Species: Plants (number)        2004      2.0             1.0
                                           2010     15.0             1.0
                                           2016     18.0             1.0
                                           2017     18.0             1.0
                                           2018     23.0             1.0
                                           2019     24.0             1.0
                                           2020     28.0             2.0
Threatened Species: Total (number)         2004     50.0            24.0
                                           2010    105.0            79.0
                                           2016    125.0            92.0
                                           2017    135.0            92.0
                                           2018    143.0            92.0
                                           2019    145.0            95.0
                                           2020    155.0            99.0
Threatened Species: Vertebrates (number)   2004     36.0            18.0
                                           2010     69.0            21.0
                                           2016     78.0            27.0
                                           2017     79.0            27.0
                                           2018     80.0            27.0
                                           2019     81.0            29.0
                                           2020     85.0            32.0

Country                                          Andorra  Angola  Anguilla  \
Series                                     Year
Threatened Species: Invertebrates (number) 2004      4.0     6.0       0.0
                                           2010      4.0     7.0      10.0
                                           2016      7.0     9.0      10.0
                                           2017      8.0     9.0      10.0
                                           2018      8.0    11.0      10.0
                                           2019      8.0    11.0      10.0
                                           2020      8.0    11.0      10.0
Threatened Species: Plants (number)        2004      0.0    26.0       3.0
                                           2010      0.0    33.0       3.0
                                           2016      0.0    34.0       4.0
                                           2017      0.0    34.0       4.0
                                           2018      0.0    35.0       4.0
                                           2019      1.0    36.0       4.0
                                           2020      1.0    43.0       3.0
Threatened Species: Total (number)         2004      5.0    76.0      18.0
                                           2010      8.0   117.0      33.0
                                           2016     12.0   142.0      52.0
                                           2017     13.0   146.0      52.0
                                           2018     14.0   154.0      54.0
                                           2019     15.0   158.0      57.0
                                           2020     15.0   171.0      60.0
Threatened Species: Vertebrates (number)   2004      1.0    44.0      15.0
                                           2010      4.0    77.0      20.0
                                           2016      5.0    99.0      38.0
                                           2017      5.0   103.0      38.0
                                           2018      6.0   108.0      40.0
                                           2019      6.0   111.0      43.0
                                           2020      6.0   117.0      47.0

Country                                          Antarctica  \
Series                                     Year
Threatened Species: Invertebrates (number) 2004         0.0
                                           2010         0.0
                                           2016         0.0
                                           2017         0.0
                                           2018         0.0
                                           2019         0.0
                                           2020         0.0
Threatened Species: Plants (number)        2004         0.0
                                           2010         0.0
                                           2016         0.0
                                           2017         0.0
                                           2018         0.0
                                           2019         0.0
                                           2020         0.0
Threatened Species: Total (number)         2004         8.0
                                           2010         6.0
                                           2016         6.0
                                           2017         6.0
                                           2018         6.0
                                           2019         6.0
                                           2020         6.0
Threatened Species: Vertebrates (number)   2004         8.0
                                           2010         6.0
                                           2016         6.0
                                           2017         6.0
                                           2018         6.0
                                           2019         6.0
                                           2020         6.0

Country                                          Antigua and Barbuda  \
Series                                     Year
Threatened Species: Invertebrates (number) 2004                  0.0
                                           2010                 11.0
                                           2016                 11.0
                                           2017                 11.0
                                           2018                 11.0
                                           2019                 11.0
                                           2020                 11.0
Threatened Species: Plants (number)        2004                  4.0
                                           2010                  4.0
                                           2016                  4.0
                                           2017                  4.0
                                           2018                  4.0
                                           2019                  4.0
                                           2020                  3.0
Threatened Species: Total (number)         2004                 22.0
                                           2010                 38.0
                                           2016                 53.0
                                           2017                 55.0
                                           2018                 56.0
                                           2019                 59.0
                                           2020                 61.0
Threatened Species: Vertebrates (number)   2004                 18.0
                                           2010                 23.0
                                           2016                 38.0
                                           2017                 40.0
                                           2018                 41.0
                                           2019                 44.0
                                           2020                 47.0

Country                                          Areas n.e.s  ...  Uzbekistan  \
Series                                     Year               ...
Threatened Species: Invertebrates (number) 2004          0.0  ...         1.0
                                           2010          0.0  ...         1.0
                                           2016          1.0  ...         3.0
                                           2017          1.0  ...         3.0
                                           2018          1.0  ...         3.0
                                           2019          1.0  ...         3.0
                                           2020          NaN  ...         3.0
Threatened Species: Plants (number)        2004          0.0  ...         1.0
                                           2010          0.0  ...        15.0
                                           2016          0.0  ...        17.0
                                           2017          0.0  ...        17.0
                                           2018          0.0  ...        16.0
                                           2019          NaN  ...        16.0
                                           2020          NaN  ...        16.0
Threatened Species: Total (number)         2004          1.0  ...        31.0
                                           2010          1.0  ...        50.0
                                           2016          4.0  ...        59.0
                                           2017          4.0  ...        59.0
                                           2018          6.0  ...        62.0
                                           2019          8.0  ...        62.0
                                           2020          NaN  ...        62.0
Threatened Species: Vertebrates (number)   2004          1.0  ...        29.0
                                           2010          1.0  ...        34.0
                                           2016          3.0  ...        39.0
                                           2017          3.0  ...        39.0
                                           2018          5.0  ...        43.0
                                           2019          7.0  ...        43.0
                                           2020          NaN  ...        43.0

Country                                          Vanuatu  \
Series                                     Year
Threatened Species: Invertebrates (number) 2004      0.0
                                           2010     79.0
                                           2016     92.0
                                           2017     91.0
                                           2018     91.0
                                           2019     91.0
                                           2020     91.0
Threatened Species: Plants (number)        2004     10.0
                                           2010     10.0
                                           2016     10.0
                                           2017     10.0
                                           2018     10.0
                                           2019     10.0
                                           2020     11.0
Threatened Species: Total (number)         2004     29.0
                                           2010    121.0
                                           2016    139.0
                                           2017    137.0
                                           2018    139.0
                                           2019    140.0
                                           2020    144.0
Threatened Species: Vertebrates (number)   2004     19.0
                                           2010     32.0
                                           2016     37.0
                                           2017     36.0
                                           2018     38.0
                                           2019     39.0
                                           2020     42.0

Country                                          Venezuela (Boliv. Rep. of)  \
Series                                     Year
Threatened Species: Invertebrates (number) 2004                         1.0
                                           2010                        21.0
                                           2016                        26.0
                                           2017                        26.0
                                           2018                        26.0
                                           2019                        26.0
                                           2020                        26.0
Threatened Species: Plants (number)        2004                        67.0
                                           2010                        70.0
                                           2016                        82.0
                                           2017                        82.0
                                           2018                        81.0
                                           2019                        90.0
                                           2020                       102.0
Threatened Species: Total (number)         2004                       219.0
                                           2010                       270.0
                                           2016                       320.0
                                           2017                       328.0
                                           2018                       335.0
                                           2019                       347.0
                                           2020                       379.0
Threatened Species: Vertebrates (number)   2004                       151.0
                                           2010                       179.0
                                           2016                       212.0
                                           2017                       220.0
                                           2018                       228.0
                                           2019                       231.0
                                           2020                       251.0

Country                                          Viet Nam  \
Series                                     Year
Threatened Species: Invertebrates (number) 2004       0.0
                                           2010      92.0
                                           2016     152.0
                                           2017     152.0
                                           2018     152.0
                                           2019     154.0
                                           2020     156.0
Threatened Species: Plants (number)        2004     145.0
                                           2010     146.0
                                           2016     204.0
                                           2017     204.0
                                           2018     231.0
                                           2019     236.0
                                           2020     260.0
Threatened Species: Total (number)         2004     289.0
                                           2010     424.0
                                           2016     616.0
                                           2017     616.0
                                           2018     661.0
                                           2019     700.0
                                           2020     738.0
Threatened Species: Vertebrates (number)   2004     144.0
                                           2010     186.0
                                           2016     260.0
                                           2017     260.0
                                           2018     278.0
                                           2019     310.0
                                           2020     322.0

Country                                          Wallis and Futuna Islands  \
Series                                     Year
Threatened Species: Invertebrates (number) 2004                        0.0
                                           2010                       57.0
                                           2016                       65.0
                                           2017                       64.0
                                           2018                       64.0
                                           2019                       64.0
                                           2020                       64.0
Threatened Species: Plants (number)        2004                        1.0
                                           2010                        1.0
                                           2016                        1.0
                                           2017                        1.0
                                           2018                        1.0
                                           2019                        1.0
                                           2020                        1.0
Threatened Species: Total (number)         2004                       13.0
                                           2010                       74.0
                                           2016                       90.0
                                           2017                       89.0
                                           2018                       89.0
                                           2019                       89.0