# User-defined functions using datetime library

---

When working with dates and times, fairly common in data sets, we need to be able to extract certain bits of information.  

In Python, as with other languages, dates and times are stored in a data structure that combines the two together and stores the information as a number of seconds since a start point (often 1st January 1900).  This is obviously a large number but every bit of information about a date can be extracted from it and used to give a wide range of information.  

Have a go at the exercises below to use a selection of datetime functions and return a new bit of data from each, to be printed by the caller.

Before you can use datetime functions you will need to import them. Import the datetime functions like this:

`from datetime import datetime`  


For more information about datetime functions visit [w3Schools-Python datetime](https://www.w3schools.com/python/python_datetime.asp) and [Python docs](https://docs.python.org/3/library/datetime.html)

---
### Exercise 1 - print current date and time

Write a function that will return the date and time now.  The caller will print it.  

*Hint:  the format has been added for you, the other exercises will follow a similar format.   Always remember to import datetime from datetime as shown below*

In [80]:
from datetime import datetime, timezone
# add your function, called get_datetime_now() below here


def get_datetime_now():
    now_date_time = datetime.now()
    print(now_date_time)
    
get_datetime_now()

# Test - the difference stems from wrong timezone in the original chunk of code (summertime - utc+1)
now_date_time = datetime.now(timezone.utc)
print(now_date_time)

2021-07-13 19:30:48.008561
2021-07-13 18:30:48.008561+00:00

---
Exercise 2 - print the current year

Write a function that will return the current year.  The caller will print the year.

In [79]:
from datetime import datetime, timezone

def get_year_now():
    year_now = datetime.now().year
    print(year_now)
    
get_year_now()

2021

---
### Exercise 3 - print the current day of the week

Write a function that will return the current day of the week.  The caller will print it.

In [36]:
from datetime import datetime, timezone
import calendar

def get_weekday_now():
    weekday_now = datetime.now().strftime('%A')
    print(weekday_now)
    
get_weekday_now()

Tuesday

---
### Exercise 4 - create a new date

Write a function that will take 3 parameters, year, month, day (3 numbers that make a valid date) and will create, and return a new date.  The caller will print the date.

In [100]:
from datetime import datetime, timezone

def create_date(year, month, day):
    
    if isinstance(year, int) != True or year < 1:
        print('Invalid Year')
        return None
    
    if isinstance(month, int) != True or (month < 1) or (month > 12):
        print('Invalid Month')
        return None
    
    if isinstance(day, int) != True or (day < 1) or (day > 31):
        print('Invalid Day')
        return None
  
    # Create a date    
    new_date = datetime(year, month, day)
    print(new_date)

    # Tests
create_date(200, 12, 30)
create_date(-15, 11, 28)
create_date(1986, 14, 28)
create_date(1986, 1, 78)

0200-12-30 00:00:00
Invalid Year
Invalid Month
Invalid Day

---
### Exercise 5 - create a valid date

Write a function that will take 3 parameters, year, month, day (3 numbers) and will:  
*   check that the month is between 1 and 12  
*   check that the day is valid for the month (e.g. if the month is 2, then the day must be between 1 and 28 (don't worry about leap years for the moment)  
*   if the date is not valid, print an error message and return None (which the caller will print)  
*   if the date is valid, store it in a new variable, return the variable and the caller will print it.

In [104]:
from datetime import datetime, timezone

def create_valid_date(year, month, day):
    
    if isinstance(year, int) != True or year < 1:
        print('Invalid Year')
        return None
    
    if isinstance(month, int) != True or (month < 1) or (month > 12):
        print('Invalid Month')
        return None
    
    if isinstance(day, int) != True or (day < 1) or (day > 31):
        print('Invalid Day')
        return None
    
    if month == 2 and day > 28:
        print ('Error! Max 28 days in February!')
        return None
    
    if month in [4, 6, 9, 11] and day > 30:
        print ('Error! Max 30 days in the chosen month!')
        return None
  
    # Create a date    
    new_date = datetime(year, month, day)
    print(new_date)

# Test
create_valid_date(2015, 2, 29)

Error! Max 28 days in February!

---
### Exercise 6 - is it a leap year?

Write a function that will take a date as a parameter (you will need to create the date variable before calling the function) and will determine if it is a leap year, returning True or False.

*Hint:  a leap year is a year that is divisible by 4 but the centuries (1900, 2000, etc are only leap years if they are divisible by 400)*

In [71]:
from datetime import datetime

def is_leap_year(date_to_check):

    if date_to_check.year%4 == 0 and date_to_check.year%100 != 0:
        return True
    elif date_to_check.year%400 == 0:
        return True
    else:
        return False
    
# Tests
check_date = datetime(1996, 12, 15)
if is_leap_year(check_date):
  print(check_date.strftime("%Y"), "is a leap year")
else:
  print(check_date.strftime("%Y"), "is not a leap year")

check_date = datetime(2000, 12, 15)
if is_leap_year(check_date):
  print(check_date.strftime("%Y"), "is a leap year")
else:
  print(check_date.strftime("%Y"), "is not a leap year")

check_date = datetime(2004, 12, 15)
if is_leap_year(check_date):
  print(check_date.strftime("%Y"), "is a leap year")
else:
  print(check_date.strftime("%Y"), "is not a leap year")

check_date = datetime(1300, 12, 15)
if is_leap_year(check_date):
  print(check_date.strftime("%Y"), "is a leap year")
else:
  print(check_date.strftime("%Y"), "is not a leap year")

check_date = datetime(1913, 12, 15)
if is_leap_year(check_date):
  print(check_date.strftime("%Y"), "is a leap year")
else:
  print(check_date.strftime("%Y"), "is not a leap year")

1996 is a leap year
2000 is a leap year
2004 is a leap year
1300 is not a leap year
1913 is not a leap year

---
### Exercise 7 - display parts of date/time

Write a function that will take a date and print from it the following:  
*  given date and time  
*  year (in full) 
*  month (as a number) 
*  month name 
*  week number of the year  
*  weekday of the week (as a number)  
*  day of year  
*  day of the month  
*  day of week (as a name)  

*Hint:  see w3Schools for [strftime reference](https://www.w3schools.com/python/python_datetime.asp)*

In [76]:
from datetime import datetime

def date_details(date_to_check):
    # Print given date and time
    print(date_to_check)
    
    # Print year
    print(date_to_check.strftime("%Y"))
    
    # Print month as a number
    print(date_to_check.strftime("%m"))
    
    # Print month as a name
    print(date_to_check.strftime("%B"))
    
    # Print week number of the year
    print(date_to_check.strftime("%W"))
    
    # Print weekday of the week (as a number)
    print(date_to_check.weekday())
    
    # Print day of the year
    print(date_to_check.strftime("%j"))
        
    # Print day of the month
    print(date_to_check.strftime("%d"))
    
    # Print day of the week as a name
    print(date_to_check.strftime("%A"))
    
date = datetime(2021, 7, 13)

date_details(date)

2021-07-13 00:00:00
2021
07
July
28
1
194
13
Tuesday

---
### Exercise 8 - next 6 days

Write a function that will take a date and generate the dates of the following 6 days.  It should print each of the 6 days in the form:  

DAY OF THE WEEK, MONTH NAME, FULL YEAR

Hint:  to generate the days, use the function datetime.timedelta(), there is a good example of its use [here](https://www.geeksforgeeks.org/python-datetime-timedelta-function/)

In [92]:
from datetime import datetime, timedelta

def generate_six_days(start_date):
    for i in range (1, 7):
        date = now + timedelta(days = i)
        print(date.strftime("%A"), date.strftime("%d"), date.strftime("%B"), date.strftime("%Y"))
        
# Test
date = datetime(2021, 7, 13)

generate_six_days(date)

Wednesday 14 July 2021
Thursday 15 July 2021
Friday 16 July 2021
Saturday 17 July 2021
Sunday 18 July 2021
Monday 19 July 2021

### Exercise 9 - modify date format in a dataframe with a custom function
---

Read the data set 'page_views.csv' from "https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/page_views.csv"

Using dataframe.apply(), modify the dates, which are currently strings, so that they are in date format.

This is a relatively small data set, so let's use this as a way to look into how an applied function works.

1.  Read the data set into a dataframe and display information about it (you will see that the date is of dtype 'object' which means that it could be any data structure

2.  Print the date from the first record - you will see that this is a string ('2016-05-09')

3.  As a test, convert this string into a valid date (maybe take the date string, split it into three components, year, month, day and create a new datetime from this - you could use the function you wrote for Exercise 5

4.  Apply a function that will convert the date (string) column in the dataframe to a date (datetime) column.  (First step - print df['date'] so that you can see that there is just one row in df in the function)

In [127]:
import pandas as pd
from datetime import datetime


def convert_date(df):
  text_date = df['date']
  split_date = text_date.split('-')
  new_date = datetime(int(split_date[0]), int(split_date[1]), int(split_date[2]))
  return new_date

url = "https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/page_views.csv"
page_views = pd.read_csv(url)
page_views['date'] = page_views.apply(convert_date, axis=1)
page_views.info()

print(page_views['date'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1304 entries, 0 to 1303
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1304 non-null   datetime64[ns]
 1   value   1304 non-null   int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 20.5 KB
0      2016-05-09
1      2016-05-10
2      2016-05-11
3      2016-05-12
4      2016-05-13
          ...
1299   2019-11-29
1300   2019-11-30
1301   2019-12-01
1302   2019-12-02
1303   2019-12-03
Name: date, Length: 1304, dtype: datetime64[ns]

### Exercise 10 - here's a challenge
---

Now that the date is in datetime format, it is possible that you could check for missing dates.

1.  Run the code from Exercise 9 to ensure that you have datetime objects and not strings.

2.  Sort the dataframe by date (ascending)

3.  Starting with the first date, generate a new column with the same number of rows as the dataframe, which contains datetime objects sequentially by day

4.  Write a function that takes the dataframe as a parameter, and the next date (see Exercise 8), finds the first row where the generated date and the actual date are not equal and returns the index of this row, or -1 if they are all equal (Hint:  use a filter to find the rows where there is a difference, return the index of the first row - df[df['date'] != df['seq_date']].index[0]

In [134]:
# Sort dataframe by dates
page_views = page_views.sort_values('date')

new_column = []

for i in range(0, page_views['date'].count()):    
    start = page_views['date'][0]
    new_column.append(start + timedelta(days = i))

page_views['seq_date'] = new_column

display(page_views)
                                      
def check_missing_dates(df):
    for i in page_views.index:
        if df['date'][i] != df['seq_date'][i]:
            return print(i)
        else:
            return -1

# Test
check_missing_dates(page_views)

           date   value   seq_date
0    2016-05-09    1201 2016-05-09
1    2016-05-10    2329 2016-05-10
2    2016-05-11    1716 2016-05-11
3    2016-05-12   10539 2016-05-12
4    2016-05-13    6933 2016-05-13
...         ...     ...        ...
1299 2019-11-29  171584 2019-11-29
1300 2019-11-30  141161 2019-11-30
1301 2019-12-01  142918 2019-12-01
1302 2019-12-02  220144 2019-12-02
1303 2019-12-03  158549 2019-12-03

[1304 rows x 3 columns]

-1

---
### Optional extra practice

There are some similar and some more challenging exercises [here](https://www.w3resource.com/python-exercises/date-time-exercise/) if you would like to practice more. The site has its own editor.